body {

  background-size: cover;
  position: relative;
  overflow: hidden;
}


  .body-center {
    min-height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .center-item {
    margin: auto;
  }
  